.idea/
.settings/
/target
out/
bin/
tmp/
target/
*.class
*.so
*.o
*.2.0
*.tmp
*.bak
*.swp
*~.nib
*.launch
*.classpath
*.project
*.*~

*.war
*.ear
.metadata
.loadpath
*.iml

.metadata/






 

IoT_Spring_BPM.eml

IoT_Spring_BPM.userlibraries
