<ion-header-bar>
    <h1 class="title">Edit plugs</h1>
</ion-header-bar>

<ion-content has-header="true" has-footer="true" padding="true">


    <h3 class="text-center">Manage existing plugs</h3>
    <div class="list">

        <div class="item item-button-right" ng-repeat="plug in plugs">
            {{plug.label}}
            <button class="button button-assertive" ng-click="deletePlug(plug)">
                <i class="icon ion-close"></i>
            </button>
        </div>


    </div>






</ion-content>
