<body ng-controller="ContentCtrl">
<ion-header-bar>
    <h1 class="title">Home</h1>
</ion-header-bar>

<ion-content has-header="true" has-footer="true" scroll="true">

    <ul class="list">
        <li class="item item-divider">Users:</li>
        <li ng-repeat="(user, state) in userStates" class="item item-icon-right">
            {{user}} ({{state}})
            <i class="icon ion-home balanced" ng-if="state == 'online'"></i>
            <i class="icon ion-home assertive" ng-if="state == 'offline'"></i>
        </li>
    </ul>


    <ul class="list">
        <li class="item item-divider">Plugs:</li>
    </ul>
    <div class="card" ng-repeat="plug in plugs">
        <div class="item item-thumbnail-left">

            <img src="/images/litUp_200.png" alt="" ng-if="plug.lastKnownState"/>
            <img src="/images/notLitUp_200.png" alt="" ng-if="!plug.lastKnownState"/>

            <h3>{{plug.label}}</h3>


            <div class="col col-50">
                <button ng-click="setPlugState(plug, true)" class="button button-outline">
                    <i class="icon ion-power balanced"></i>
                </button>

                <button ng-click="setPlugState(plug, false)" class="button button-outline">
                    <i class="icon ion-power assertive"></i>
                </button>
            </div>
        </div>
    </div>
    </div>

</ion-content>

<div class="tabs tabs-stable">
    <a class="tab-item  dark-bg light">
        Home
    </a>
    <a class="tab-item" href="#/edit">
        Edit
    </a>
    <a class="tab-item" href="#/settings">
        Settings
    </a>
</div>