<div class="bar bar-header bar-light">
    <h1 class="title">Plugs</h1>
</div>

<content has-header="true" has-footer="true" scroll="false">


    <div class="card" ng-repeat="plug in plugs">
        <div class="item item-text-wrap" style="padding: 0px;">
            <div class="row">
                <div class="col col-50">
                    <div class="row">
                        <div class="col col-20"><i class="icon ion-lightbulb"></i></div>
                        <div class="col col-80">{{plug.label}}</div>
                    </div>
                </div>

                <div class="col col-50">
                    <button ng-click="setPlugState(plug, true)" class="button button-outline">
                        <i class="icon ion-power balanced"></i>
                    </button>

                    <button ng-click="setPlugState(plug, false)" class="button button-outline">
                        <i class="icon ion-power assertive"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>


</content>

<div class="tabs tabs-light">
    <a class="tab-item  stable-bg">
        Home
    </a>
    <a class="tab-item" href="#/edit">
        Edit
    </a>
    <a class="tab-item" href="#/settings">
        Settings
    </a>
</div>