<div class="bar bar-header bar-light">
    <h1 class="title">Settings</h1>
</div>

<content has-header="true" has-footer="true">




    <div class="card">
        <div class="item item-divider">
            Change IP
        </div>
        <div class="list">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="IP Address" ng-change="setNewIP()" ng-model="ip">
                </label>
                <button class="button button-small">save</button>
            </div>
        </div>

    </div>
</content>


<div class="tabs tabs-light">
    <a class="tab-item" href="#/">
        Home
    </a>
    <a class="tab-item" href="#/edit">
        Edit
    </a>
    <a class="tab-item " >
        Settings
    </a>
</div>