<ion-header-bar>
    <a href="#/" class="button button-clear button-positive icon ion-home"></a>

    <h1 class="title">Users</h1>
    <a href="#/users/add" class="button button-clear button-balanced icon ion-plus "></a>

</ion-header-bar>

<ion-content has-header="true" has-footer="true">

    <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="userRefresh()">
    </ion-refresher>

    <div class="card">

        <div ng-if="users.length == 0" class="item"><h3>No Users yet. Add some! </h3></div>

        <div class="item item-icon-right" ng-repeat="user in users"
             ng-class="{
             'balanced-bg': calcBooleanUserState(user),
             'assertive-bg': !calcBooleanUserState(user)
             }"
             ng-show="userStates">


            <h2>{{user.username}}</h2>
            <span>({{userStates[user.username]}})</span>
            <a href="#/users/{{user.username}}" class="dark"><i class="icon ion-wrench"></i></a>

        </div>
    </div>


</ion-content>
