<?xml version='1.0' encoding='utf-8'?>
<widget id="com.opitz.iotprototype" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>IoT OC prototype</name>
    <description>
        A prototype app to show off possibilities of IoT
    </description>
    <author email="pascal.brokmeier@gmail.com" href="http://ionicframework.com">
        OPITZ CONSULTING Deutschland GmbH
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
</widget>
